  .box{
        
        border: 1px solid;
    width: 706px;
    padding: 15px;
    text-align: center;
    margin: 58px;
    margin-left: 302px;
    border-radius: 25px 25px 25px 25px;
    }

    .content{
      max-width: 800px;
      margin: auto;
  }

  h1{
      text-align: center;
      padding-bottom: 60px;
  }